h1, h2, h3, h4, h5, h6 {
    word-break: normal;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
#header{
    width: 100%;
    height: 120px;
}

h2{
    font-size: 30px;
}


.main{
    display: block;
}
.main_bk {
    background-color: #e7e7e7;
    padding-bottom: 60px;
}

.main_padding{
    margin: 15px;
}

.spice-bottom {
    padding-bottom: 26px;
}

.spice-max-w {
    max-width: 770px;
    margin: 0 auto;
}

.spice-article {
    margin-left: auto;
    margin-right: auto;
}

.spice-title {
    font-family: FuturaLT-Light,GucciChinese;
    font-size: 30px;
    color: #313131;
    letter-spacing: 2.5px;
    line-height: 30px;
    padding: 60px 0 19px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #dbd8d6;
}

.spice-login {
    position: relative;
    padding: 44px 40px 80px;
    min-height: 426px;
    margin-bottom: 160px;
}

.spice-max-w {
    max-width: 770px;
    margin: 0 auto;
}

.spice-article {
    margin-left: auto;
    margin-right: auto;
}
.spice-float-clearfix {
    clear: both!important;
}

.spice-login:before {
    content: "";
    background: #fff;
    width: 1px;
    height: calc(100% - 80px);
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -1px;
}

.spice-login>div {
    float: left;
    width: 50%;
}

.spice-login>div .spice-login-form {
    max-width: 300px;
    position: relative;
}

.spice-login>div .spice-login-form .is-phone-login .spice-login-warp-password, .spice-login>div .spice-login-form .spice-login-warp-phone {
    display: none;
}
.spice-login>div .spice-login-form.spice-login-visitor .spice-login-form-content .spice-form-group:first-child {
    margin-top: 0;
}

.spice-login>div .spice-login-form.spice-login-visitor .spice-login-form-content .spice-form-group {
    margin-top: 20px;
}

 .spice-label {
    font-family: FuturaLT-Light,GucciChinese;
    font-size: 12px;
    color: #1b1b1b;
    letter-spacing: .5px;
    margin-bottom: 10px;
    display: block;
}

.spice-input, .spice-textarea {
    position: relative;
}





.spice-login>div .spice-login-form .spice-login-form-content .spice-form-group {
    margin: 0;
}



.spice-login>div .spice-login-form .is-phone-login .spice-login-warp-phone {
    display: block;
}

.spice-login>div .spice-login-form .spice-login-form-content .spice-form-group .spice-validator-slot .spice-input input {
    width: 300px;
    height: 37px;
    padding: 12px 14px 11px;
    border-radius: 0;
}

.spice-input input, .spice-input textarea, .spice-textarea input, .spice-textarea textarea {
    height: 37px;
    line-height: 16px;
    color: #1b1b1b;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0 12px;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid transparent;
    outline: 0 solid transparent;
    border-radius: 0;
    outline-offset: 0;
    transition: border-color .1s ease-in-out;
    transition: outline-color .1s ease-in-out;
}

.spice-login .spice-msg-block {
    display: none;
}

.spice-form-group-password {
    margin-top: 15px;
}

.spice-validator-slot .spice-checkbox label {
    cursor: pointer;
    padding-left: 26px;
}
.spice-login>div .spice-login-form.spice-login-visitor .spice-login-form-content .spice-checkbox label {
    display: block;
}
.spice-checkbox label {
    position: relative;
}

.spice-checkbox label i {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
}
.spice-icon-checked-white, .spice-icon-checked-white.spice-icon {
    background-color: #fff;
    border: 1px solid #fff;
}
.spice-icon-checked, .spice-icon.spice-icon-checked {
    width: 16px;
    height: 16px;
    background: none;
    background-color: #ededed;
    border: 1px solid #ededed;
    cursor: pointer;
    line-height: 14px;
    text-align: center;
    font-family: svg-iconfont!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

 .spice-checkbox label input {
    display: none;
}

.spice-checkbox label span {
    font-family: FuturaLT-Book,GucciChinese;
    font-size: 12px;
    color: #313131;
    letter-spacing: 0;
    position: relative;
    top: -1px;
}

.spice-login>div .spice-login-form .spice-login-form-content .spice-form-group .spice-validator-slot>a {
    font-family: FuturaLT-Book,GucciChinese;
    font-size: 12px;
    letter-spacing: 0;
}
a.spice-link-gray {
    color: #999;
    font-size: 12px;
}

.spice-login>div .spice-login-form .spice-login-form-content .spice-form-group .spice-phone-code-warp .spice-input, .spice-login>div .spice-login-form .spice-login-form-content .spice-form-group .spice-phone-code-warp .spice-input input {
    width: 100%;
}
.spice-login>div .spice-login-form.spice-login-visitor .spice-login-form-content .spice-form-group.spice-form-group-btn {
    margin-top: 30px;
}

.spice-btn-group {
    font-family: FuturaLT-Book,GucciChinese;
}

.spice-login>div .spice-login-form .spice-login-form-content .spice-form-group .spice-validator-slot .spice-btn-group a {
    width: 100%;
    font-size: 12px;
    letter-spacing: 2px;
    margin: 0;
    text-align: center;
}
.spice-login .spice-btn-group a {
    font-family: FuturaLT-Book,GucciChinese;
}
.spice-btn-golden {
    background: #1b1b1b;
    border: 2px solid #1b1b1b;
    color: #e5dfd9;
}
.spice-btn {
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-weight: 400;
    vertical-align: middle;
    min-width: 128px;
    padding: 0 5px;
    height: 40px;
    line-height: 36px;
    font-size: 12px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    font-family: FuturaLT-Book,GucciChinese;
}
.spice-btn, .spice-btn * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}
.spice-btn-golden {
    background: #1b1b1b;
    border: 2px solid #1b1b1b;
    color: #e5dfd9;
}

.spice-login>div .spice-login-form .spice-login-form-content .spice-form-group .spice-phone-code-warp .spice-identifying-box span {
    font-family: FuturaLT-Book,GucciChinese;
    font-size: 12px;
    color: #1b1b1b;
    letter-spacing: .5px;
    line-height: 37px;
    cursor: pointer;
    text-decoration: underline;
    white-space: nowrap;
    padding-left: 15px;
}



.spice-login>div .spice-login-form .is-phone-login .spice-login-warp-phone {
    display: block;
}
.spice-login>div .spice-login-form .is-phone-login .spice-login-warp-password, .spice-login>div .spice-login-form .spice-login-warp-phone {
    display: none;
}

.spice-login>div .spice-login-form.spice-login-visitor .spice-login-form-content .spice-form-group:first-child {
    margin-top: 0;
}
.spice-login>div .spice-login-form.spice-login-visitor .spice-login-form-content .spice-form-group {
    margin-top: 20px;
}
.spice-login>div .spice-login-form .spice-login-form-content .spice-form-group {
    margin: 0;
}

.spice-login>div .spice-login-form .spice-login-form-content .spice-form-group .spice-phone-code-warp {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.spice-login>div .spice-login-form .spice-login-form-content .spice-form-group .spice-phone-code-warp .spice-input, .spice-login>div .spice-login-form .spice-login-form-content .spice-form-group .spice-phone-code-warp .spice-input input {
    width: 100%;
}

.spice-login>div .spice-login-form .spice-login-form-content .spice-form-group .spice-phone-code-warp .spice-identifying-box span {
    font-family: FuturaLT-Book,GucciChinese;
    font-size: 12px;
    color: #1b1b1b;
    letter-spacing: .5px;
    line-height: 37px;
    cursor: pointer;
    text-decoration: underline;
    white-space: nowrap;
    padding-left: 15px;
}



.spice-text-align-center {
    text-align: center!important;
}

.spice-login>div .spice-login-form .spice-login-form-content .spice-form-group .spice-validator-slot>a {
    font-family: FuturaLT-Book,GucciChinese;
    font-size: 12px;
    letter-spacing: 0;
}

.spice-login>div .spice-login-form .spice-login-form-content .spice-form-group-login-model .spice-link-gray {
    color: #1b1b1b;
    letter-spacing: .5px;
    text-decoration: underline;
}


/* 右边 */
.spice-login>div.spice-login-right {
    padding-left: 45px;
    padding-top: 2px;
}
.spice-login>div {
    float: left;
    width: 50%;
}

.spice-login>div .spice-login-form {
    max-width: 300px;
    position: relative;
}

.spice-login>div .spice-login-form.spice-login-member .spice-login-form-title {
    margin-bottom: 30px;
}

.spice-login>div .spice-login-form .spice-login-form-title {
    transition: margin-bottom .5s;
    margin-bottom: 0;
}

.spice-login>div .spice-login-form .spice-login-form-title h3 {
    position: relative;
    font-family: FuturaLT-Light,GucciChinese;
    font-size: 20px;
    color: #4b4b4b;
    letter-spacing: 1px;
    line-height: 20px;
}

.spice-login>div .spice-login-form.spice-login-member .spice-login-form-content>p {
    font-family: FuturaLT-Book,GucciChinese;
    font-size: 14px;
    color: #313131;
    letter-spacing: 1px;
    line-height: 14px;
}

.spice-login>div .spice-login-form.spice-login-member .spice-login-form-content>ul>li {
    font-family: FuturaLT-Light,GucciChinese;
    font-size: 12px;
    color: #313131;
    letter-spacing: 1px;
    line-height: 12px;
    margin-top: 20px;
    padding-left: 12px;
    position: relative;
}

form.spice-login-member .spice-login-form-content>ul>li:before {
    content: "";
    width: 4px;
    height: 4px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: #999;
    border-radius: 50%;
}

.spice-login>div .spice-login-form.spice-login-member .spice-login-form-content .spice-btntop {
    margin-top: 30px;
}

.spice-login>div .spice-login-form.spice-login-member .spice-login-form-content .spice-btntop .spice-btn {
    max-width: 240px;
    width: 100%;
    text-align: center;
    background: #e7e7e7;
}
.spice-btn-black {
    border: 2px solid #1b1b1b;
    color: #1b1b1b;
}

